header {
    width: auto;
    height: 68px;
    display: flex;
    margin: 3% 6% 0% 6%;
    justify-content: space-between;
    align-items: center;
}

._Nav {
    height: 34px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-underline-offset: 3px;
    /* text-decoration: underline solid 3px; */
}

.A-Propos {
    font-family: 'Montserrat';
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
}

.Acceuil {

    font-family: 'Montserrat';
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
}

.A-Propos:hover {
    text-decoration: underline;
}

.Acceuil:hover {
    text-decoration: underline;
}



li{list-style-type:none; }

.LOGO {
    width: 210px;
}

@media screen and (max-width: 600px){
    .LOGO {
        width: 130px;
    }
    ._Nav {
        width: 155px;

    }
    .A-Propos{font-size: 17px;}
    .Acceuil{font-size: 17px;}
}